*{
    margin: 0px;
    padding: 0px;
}


body{
    padding: 50px 100px;
    
}

h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
}

.container{
    text-align: center;
    background-color: rgb(8, 156, 107);
    padding: 50px;
}

.input-div{
    display: inline-block;
}

#equalSign{
    display: inline-block;
    color: white;
    font-weight: bolder;
}
.inp{
    padding: 15px 10px;
    margin: 20px;
    font-size: 15px;
    /* font-weight: bold; */
    text-align: center;
    direction: none;
    border: none;
    outline: none;
    border-radius: 10px;
}

.inp:hover{
    /* padding: 15px 25px; */
    transition: 0.3s;
    background-color: rgb(155, 153, 148);
    color: white;
}

label{
    font-size: 22px;
    color: white;
    font-weight: bold;
    font-family: monospace;
}

.result{
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#resultname{
    margin-top: 20px;
    cursor: pointer;
}

#resultnum{
    margin-top: 5px;
    cursor: pointer;
}
